<style type="text/css">
  li {
    list-style-type: none;
  }

  h3 {
    border-bottom: solid 1px black;
  }

  #user-challenges {
    padding: 10px;
    background-color: #DDE1E6;
    border-radius: 5px;
  }

  h1 {

  }
</style>

<h1><%= @user.username %></h1>

<div class='col-lg-8'>
  <div id='user-challenges'>
    <h3>Challenges: </h3>
    <% @user.violations.each do |violation| %>
    <li><p><%= link_to violation.player.name, player_url(violation.player.id) %> committed <%= violation.name %> during the <%= violation.quarter %> quarter at <%= violation.time %> by <%= link_to violation.ref.number_name, ref_url(violation.ref.id) %>  <%= link_to "", violation_url(violation.id), class: 'btn btn-success   fa fa-arrow-circle-right'  %></p></li>
    <% end %>
  </div>
</div>
